<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Lumos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/new.js' %}" defer></script>
    
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/speechrecognition/4.0.4/speech-recognition.min.js"></script>
    

</head>
<body>
<div class="dialog-button" id="questionDiv">
    <h3> Do you want to take a picture with me? </h3>
     <!-- Yes button -->
     <button id="Accept" >Absolutely</button>

     <!-- No button -->
     <button id="Decline">Refuse</button>
   
</div>
</body>
</html>